# Summary Statistics
## Basic Network Analysis
In this notebook the network is analyzed with simple measures. This is necessary for understanding the basic properties of the network.

In [1]:
import os
import pandas as pd
import networkx as nx
import numpy as np
import itertools
import json
from collections import Counter

# 1. Data

Following Ville's notebook. Had to do some minor edits because the data had some unexpected errors

Load data:

In [4]:
path = str(os.path.abspath(os.path.join('',"./")))
data = pd.read_json(path + "/ksw_full_372_30min_25-03-2020.json",orient="records", dtype=False, lines=True, encoding="utf-8")

ValueError: Expected object or value

In [4]:
#data.head()

In [5]:
data.shape

(91796, 38)

In [6]:
data.dtypes

created_at                   datetime64[ns, UTC]
id                                       float64
id_str                                    object
text                                      object
source                                    object
truncated                                 object
in_reply_to_status_id                    float64
in_reply_to_status_id_str                 object
in_reply_to_user_id                      float64
in_reply_to_user_id_str                   object
in_reply_to_screen_name                   object
user                                      object
geo                                       object
coordinates                               object
place                                     object
contributors                             float64
retweeted_status                          object
is_quote_status                           object
quote_count                              float64
reply_count                              float64
retweet_count                            float64
favorite_count                           float64
entities                                  object
favorited                                 object
retweeted                                 object
filter_level                              object
lang                                      object
timestamp_ms                      datetime64[ns]
quoted_status_id                         float64
quoted_status_id_str                      object
quoted_status                             object
quoted_status_permalink                   object
extended_tweet                            object
display_text_range                        object
possibly_sensitive                        object
extended_entities                         object
limit                                     object
withheld_in_countries                     object
dtype: object

In [7]:
# clean data
#data = data[pd.notnull(data['id_str'])]
#data[data.apply(pd.DataFrame.to_dict).notna()].dropna()
#data.apply(pd.DataFrame.to_dict, orient = 'split')

#[0 if type(row)!= pd.core.series.Series else 1 for _,row in data.iterrows()]
#data['user']

Restructure:

In [8]:
data['id_str'] = data['id_str'].astype(str)
data['in_reply_to_user_id_str'] = data['in_reply_to_user_id_str'].astype(str)

In [15]:
data['user_id_str']           = [row['id_str'] if type(row) != float else None for row in data['user']]
data['user_name']             = [row['name'] if type(row) != float else None for row in data['user']]
data['user_screen_name']      = [row['screen_name'] if type(row) != float else None for row in data['user']]
data['user_defined_location'] = [row['location'] if type(row) != float else None for row in data['user']]
data['user_followers_count']  = [row['followers_count'] if type(row) != float else None for row in data['user']]
data['place_country_code']    = [row['country_code'] if row is not None and type(row) != float else None for row in data['place']]
data['place_name']            = [row['name'] if row is not None and type(row)!= float else None for row in data['place']]
data['place_type']            = [row['place_type'] if row is not None and type(row) != float else None for row in data['place']]
data['place_coordinates']     = [dict(row['bounding_box'])['coordinates'][0][0] if row is not None and type(row) != float else None for row in data['place']]
data['hashtags']              = [[htags['text'].lower() if type(row) != float else None for htags in row['hashtags']] if type(row) != float else None for row in data['entities']]
data['user_location']         = [row['location'] if type(row) != float else None for row in data['user']]
data['user_created_at']       = [row['created_at'] if type(row) != float else None for row in data['user']]
data['user_geo_enabled']      = [row['geo_enabled']  if type(row) != float else None for row in data['user']]
data['is_retweet']            = [1 if b else 0 for b in data['retweeted_status'].notnull()]

In [16]:
data[pd.notnull(data['id_str'])]

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_followers_count,place_country_code,place_name,place_type,place_coordinates,hashtags,user_location,user_created_at,user_geo_enabled,is_retweet
0,2020-03-25 09:32:54+00:00,1.242746e+18,1242746271892267009,RT @dumbricardo: dont mind me im just over he...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,349.0,None,None,None,None,[],08-25-18 7:32PM,Mon Sep 07 01:06:22 +0000 2015,True,1
1,2020-03-25 09:32:54+00:00,1.242746e+18,1242746271917637633,RT @SteveScalise: RT to tell Nancy Pelosi that...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,None,...,376.0,None,None,None,None,[],Portsmouth NH,Wed May 26 15:57:51 +0000 2010,True,1
2,2020-03-25 09:32:55+00:00,1.242746e+18,1242746271976370176,RT @liamgallagher: Listen up Brothers and Sist...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,None,...,57.0,None,None,None,None,[],"Cork, Ireland",Tue Sep 26 23:09:29 +0000 2017,False,1
3,2020-03-25 09:32:55+00:00,1.242746e+18,1242746272018124802,RT @TrendRamCharan: When the powers of opposin...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,None,...,51.0,None,None,None,None,[],None,Sat Dec 28 13:59:34 +0000 2019,False,1
4,2020-03-25 09:32:55+00:00,1.242746e+18,1242746272102170624,RT @MayUbeku: For those blackmailing others wi...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,None,...,385.0,None,None,None,None,[],"Lagos, Nigeria",Sun Apr 08 18:53:20 +0000 2012,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91791,2020-03-25 10:02:54+00:00,1.242754e+18,1242753817617317888,Someone needs to do a Case Study on why Zimbab...,"<a href=""http://twitter.com/download/iphone"" r...",True,NaN,None,NaN,None,...,7492.0,None,None,None,None,[],"Harare, Zimbabwe",Sat Nov 05 07:40:58 +0000 2011,True,0
91792,2020-03-25 10:02:54+00:00,1.242754e+18,1242753817701019649,"RT @tz_urboyoliver_: If this is true , the Pre...","<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,18692.0,None,None,None,None,[],Canada in Jesus name 🙏,Mon Aug 05 16:50:16 +0000 2019,True,1
91793,2020-03-25 10:02:54+00:00,1.242754e+18,1242753817587978241,RT @ActuaryByDay: A bit more detailed context ...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,None,...,2120.0,None,None,None,None,[],None,Mon Mar 11 06:04:27 +0000 2013,False,1
91794,2020-03-25 10:02:54+00:00,1.242754e+18,1242753817751343104,"RT @vrgoqn: We’re on your side, Dr Amalina. Ou...","<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,None,...,233.0,None,None,None,None,[],None,Mon Sep 06 02:07:00 +0000 2010,True,1
91795,2020-03-25 10:02:54+00:00,1.242754e+18,1242753817831247872,RT @SavvyRinu: I have been able to get a 2.4 M...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,None,...,1636.0,None,None,None,None,[],"Lagos, Nigeria",Wed Sep 07 13:06:28 +0000 2016,True,1

In [17]:
parent_tweet_ids = []
parent_user_ids  = []
for index, row in data.iterrows():
    if row['is_retweet']:
        tweet = row['retweeted_status']
        parent_tweet_ids.append(tweet['id_str'])
        parent_user_ids.append(tweet['user']['id_str'])
    else:
        parent_tweet_ids.append(None)
        parent_user_ids.append(None)
        
data['parent_tweet_id_str'] = parent_tweet_ids
data['parent_user_id_str']  = parent_user_ids

In [18]:
data['has_media'] = pd.notna(data['extended_entities'])

In [19]:
import re

def extract_mentions(x):
    return [str(n.replace("id': ","")) for n in re.findall("id': [0-9]*", str(x))]

data['mentions'] = data['entities'].apply(lambda x: extract_mentions(x))

In [20]:
def extract_hashtags(x):
    return [n.replace("'text': ","") for n in re.findall("'text': '[a-zA-Z0-9_]*'", str(x))]

data['hashtags'] = data['entities'].apply(lambda x: extract_hashtags(x))

In [21]:
selection = ['created_at',                                  # Timestamp for possible time comparisons
             'id_str',                                      # Id of the tweet for collecting replies / retweets
             'hashtags',                                    # Hashtags for coloring the nodes
             'user_id_str',                                 # Identify / define nodes in the network 
             'mentions',                                    # Define interaction-edges for mentions
             'parent_tweet_id_str',
             'parent_user_id_str',                          # Retweets
             'place_coordinates','place_name','place_type',
             'user_defined_location',                       # Keep location/place data for filtering by city 
             'in_reply_to_user_id_str']                     # Define interaction-edges for replies
data_sel  = data[selection]

In [22]:
# construct network

In [23]:
nodes = dict(data[['user_id_str','user_defined_location']].values)

In [24]:
def init_edge(src,trg,edges):
    if (str(src),str(trg)) not in edges: edges[(src,trg)] = Counter({'orig_mentions':0, 'retweets':0, 'replies':0})            

def transform_to_edges(data: pd.DataFrame) -> dict:
    edges = {} # Dict where keys are tuples containing the source and target ids
               # values are Counters with attributes: orig_mentions, retweets, replies
    
    for i,row in data.iterrows():
        src      = row['user_id_str']
        par_id   = row['parent_user_id_str']
        reply_id = row['in_reply_to_user_id_str'] 
        mentions = list(row['mentions'])
        
        # Note that mentions are superset of retweets and replies, thus we 
        # first remove both of them, and then authentic mentions left.
        
        # Case 1. replies
        if reply_id in mentions:
            init_edge(src,reply_id,edges)
            edges[(src,reply_id)]['replies'] += 1
            mentions.remove(reply_id)
        
        # Case 2. retweets
        if par_id is not None:
            init_edge(src,par_id,edges)
            edges[(src,par_id)]['retweets'] += 1
            mentions.remove(par_id) 
            
        # Case 3. mentions
        for trg in mentions:
            init_edge(src,trg,edges)
            edges[(src,trg)]['orig_mentions'] += 1            
        
    return edges

In [25]:
edges = transform_to_edges(data)
print(len(edges), 'edges found in the data set.')

100414 edges found in the data set.

In [26]:
edgelist = [(i[0],i[1],dict(k)) for i,k in edges.items()]
#missing_tweets = list(out_retweet_ids)

In [27]:
nodes

{'3476313672': '08-25-18 7:32PM',
 '148397030': 'Portsmouth NH',
 '912816423529009153': 'Cork, Ireland',
 '1210923069528629248': None,
 '548638630': 'Lagos, Nigeria',
 '923269777308647429': 'Abu Dhabi',
 '1418662837': 'India',
 '375789114': 'Worwai ...We Global 😎',
 '1219007111239282688': None,
 '937862822557466624': None,
 '892286193286688769': None,
 '254589680': 'Riyadh, Kingdom of Saudi Arabi',
 '1009706051854327808': 'Hell➰',
 '375828308': None,
 '1167438893354012675': 'South Africa',
 '1219583333702742016': None,
 '3312981665': 'South West, England',
 '1135860730656415745': '17 dancing queen,, she/her ',
 '1231467376245272576': None,
 '972386818267254784': 'Tema, Ghana',
 '1234075887211106309': None,
 '65940705': 'surrey',
 '742437424350040065': None,
 '969780167932485633': 'Nairobi, Kenya ',
 '1068156118415732736': None,
 '62491620': 'Tsumeb, Namibia',
 '1065144120824512512': None,
 '102784607': 'Scotland',
 '914189502800846849': "don't search ",
 '626627148': 'Atlanta, GA',
 '126840507': None,
 '3897464233': 'Cypress, CA',
 '371860159': 'Italy',
 '156198230': 'Watford, United Kingdom',
 '852919230': 'Glenrothes, Scotland',
 '58792762': 'Inspiration via Los Angeles',
 '1095478646247108609': 'Australia',
 '765779378852732928': None,
 '733711544': 'Oshawa, Ontario Canada',
 '276134815': 'Ilorin',
 '1014207631534194689': 'Nigeria',
 '1386864830': 'Thailand',
 '124498251': 'New Delhi',
 '1218349070365925377': None,
 '44288405': 'Sydney',
 '48945530': 'haunted ruins',
 '2800588345': 'la casita',
 '861495623203160064': 'New Delhi, India',
 '837375971619659776': None,
 '1229440370544717824': None,
 '32677386': 'Pennsylvania, USA',
 '3803067974': 'a',
 '4071836933': 'Madrid, Espagne',
 '873102749583294464': 'Bath, England',
 '4658945540': 'Ennis,texas ',
 '793736090448429056': 'Akure, Nigeria',
 '42745358': 'England - Hull',
 '2452923770': 'ALWAYS WITH BTS💜',
 '376117489': 'Gold Coast, Queensland',
 '824637752574488576': None,
 '257928337': 'Peachtree City, Georgia',
 '1109442118710427648': '🇺🇸',
 '1014594608934748161': 'California, USA',
 '60972390': None,
 '458282456': 'West Africa , Ghana',
 '380376585': 'fairfield Ct',
 '1017176379044122625': None,
 '211625103': 'Ferndale',
 '2294474598': None,
 '1178031383291281410': 'Duniya',
 '157202454': "wherever He is, i'll follow",
 '1059784763605684224': None,
 '1190260244892438528': 'Chennai, India',
 '1234378418872995840': 'Kuala Lumpur Federal Territory',
 '3263349375': None,
 '1227179480': 'PGP Public key',
 '61673391': 'Lucknow, India',
 '128776036': None,
 '915559207801430016': 'North West, England',
 '1725043296': 'Αγρίνιο, Ελλάς',
 '1195165163151740928': None,
 '896382417908400128': 'S’hluthu Republic',
 '16896485': 'New York City',
 '235540435': '🇵🇭 ',
 '92755722': 'Australia',
 '351682026': 'Peterborough UK usually',
 '612409412': 'Wiltshire, UK',
 '4130297954': 'Nepal',
 '1212841148986691584': 'az',
 '950643009753944064': 'Ogun, Nigeria',
 '1222889389401034752': None,
 '1186750094311383040': 'Bergen, Norge',
 '1231974131752689666': None,
 '182868570': 'pumpkin patch',
 '221277290': 'Jindabyne, NSW, Australia',
 '18364588': 'Glenham, NY',
 '1093028310458613760': None,
 '254689298': 'Montpellier, France',
 None: None,
 '2483666006': None,
 '2282983818': 'Vancouver, B.C. Canada',
 '935482549': None,
 '498657411': None,
 '293708758': 'Honolulu',
 '1078212535634006017': 'Lagos , Nigeria',
 '1118673947124490240': "The most 'diverse' part of London",
 '1222016225196134400': 'United States',
 '1080767783967707142': 'Singapore',
 '58489907': 'Deutschland',
 '350838632': 'Halifax, Nova Scotia',
 '72835788': 'Colorado, USA',
 '352182320': '30 minutes or bin it.',
 '986350783011553280': None,
 '1238495760217333761': None,
 '465940083': 'Paris, France',
 '1192460257': None,
 '972861006694187009': None,
 '1242188049548795907': None,
 '21985686': 'Johannesburg, South Africa',
 '2914421262': 'New Delhi, India',
 '241561206': 'Rillettes/StNectaire',
 '1198332480274628609': None,
 '1178327895720284163': 'London, England',
 '3087338224': 'Mountain Ash',
 '1670190308': None,
 '4696316214': 'Karlovy Vary, Česká republika',
 '939084398657490944': 'UK',
 '2316870884': 'London, United Kingdom',
 '938145199930429440': 'Dublin City, Ireland',
 '772860434399449088': 'Wisconsin, USA',
 '720063494': 'Columbia tn',
 '1211639952611500033': None,
 '3225471887': 'Plymouth',
 '2544915322': None,
 '296650097': 'Earth',
 '1959341660': 'England',
 '1073257499938181121': 'Marseille Paris ',
 '1686409748': 'Lagos, Nigeria',
 '2692132350': 'Thailand',
 '768809100205580289': None,
 '490694141': 'Bloomington, IN',
 '1072554537137909761': None,
 '35145731': 'East of Atlanta ',
 '18525497': 'London',
 '1168383732941611009': 'Hyderabad, India',
 '184269543': 'Melbourne',
 '240401202': 'High above the chimney tops',
 '904387222086057984': 'w kyrie irving ',
 '1467979620': None,
 '903547795595943936': None,
 '118503567': 'Los Angeles, CA',
 '1061688819513061376': None,
 '47604240': 'Devon. Tiz bootiful.',
 '1132010799654944768': None,
 '72271128': 'South Lambeth Road',
 '1239507825598050304': 'Dundee/Tübingen',
 '249398002': 'Richmond, VA',
 '3287081724': 'United States',
 '276446473': None,
 '3058668200': 'Montreal, Qc',
 '1210253451311157250': None,
 '3250072597': 'Kolkata - Murshidabad',
 '1167901697735155712': None,
 '1227358105664655362': None,
 '317865314': 'Guatemala',
 '408343377': 'Trainyard',
 '1034625122710081536': None,
 '1242735671871180806': None,
 '297854186': None,
 '842773803730112512': 'United Kingdom',
 '851606110662426624': 'United States',
 '91183277': 'Ottawa, Canada',
 '839107301726371840': 'earth',
 '2920190896': None,
 '16611761': 'London',
 '1003678627421024256': 'Bangi, Selangor',
 '945672728538882050': 'Ladnun, India',
 '1691485302': None,
 '911244991971737600': 'Vizag',
 '4131532219': None,
 '4548368730': None,
 '41683586': None,
 '1107216211148836865': 'Lucknow the city of nawab',
 '1210189705171615744': None,
 '730865300783013889': '버디•하이•플로버•우정•유비',
 '1242521332425707521': None,
 '31413607': 'London / Edinburgh',
 '768967034': 'Nagpur, India',
 '441882234': 'Pune, India',
 '1220959021747855360': 'KOLKATA',
 '557626031': 'Harold Wood',
 '1046777711962673153': 'Bengaluru South, India',
 '2242915987': 'Parkland, WA',
 '2756307738': None,
 '270871974': 'Berkeley, CA',
 '704393288': 'sullurupet',
 '427020113': None,
 '43844940': 'Mumbai',
 '1173936604601171968': None,
 '1003678956460101642': None,
 '298565944': 'Indonesia',
 '72418472': 'Political Bermuda Triangle',
 '1229496644850323456': 'The TARDIS',
 '722131117143273472': 'India',
 '302267086': 'London, England',
 '1114684320868732929': None,
 '1149717127479218176': 'Seattle',
 '1216341079194103809': None,
 '2722540799': 'healing',
 '1095403868014460929': 'Alexandria, VA',
 '1118540803545227264': 'Berne, Switzerland',
 '978548073096937472': 'Switzerland',
 '983732924532101122': None,
 '2630441937': '🇿🇦',
 '1240627865957339136': None,
 '1017440151352631300': None,
 '1236503795065950208': 'India',
 '1217301189760405504': 'Seksyen 13, Shah Alam',
 '508577948': 'Gothenburg, Sweden',
 '1040758194744815617': 'Arlington, VA',
 '364467769': 'norfolk',
 '875335750618824705': 'Vishakhapatnam, India',
 '827877039562567680': None,
 '1008246257372913665': 'on duty ',
 '2832460106': None,
 '162889873': 'Akron Ohio',
 '942963042685292544': None,
 '464240408': 'Teddington, UK',
 '68107424': 'Dublin, Ireland',
 '55905770': None,
 '363758745': 'saw demi on 040618',
 '1090302334448607241': 'Lagos, Nigeria',
 '282465647': None,
 '40972235': 'Nottingham, England',
 '1111236558080933889': None,
 '343949861': 'Ask me',
 '580706601': 'South Africa',
 '1227804164178239489': None,
 '32546006': 'Stoke on Trent U.K',
 '942579474': 'In the USA WINNING!!! #MAGA',
 '865509361874894849': None,
 '119160803': 'Tanzania, Kenya and Uganda',
 '66660694': 'Leeds, Yorkshire',
 '2495364125': 'India',
 '548938206': 'DTW 👌🏾',
 '378846429': None,
 '25615708': 'Malaysia',
 '590396078': None,
 '500045541': None,
 '2538257023': None,
 '3161434887': None,
 '1140942938949554176': None,
 '1213793148524122114': None,
 '869557507399663616': 'Malaysia',
 '1099935668409696256': 'East Rand',
 '1102580501653663745': None,
 '908186249202081792': 'Okey',
 '1113491547603918848': None,
 '256348058': 'United States',
 '2934022176': 'she/her • 25 • multi',
 '1160898187407712257': 'Lakhmari ',
 '371646780': 'Bunbury',
 '958570262664015872': 'India',
 '769941407360516096': 'Namapalli, Hyderabad',
 '185043925': 'New Delhi, India',
 '3151168045': 'Chennai, India',
 '295372047': 'Texas',
 '3302249627': 'Just north of Toronto, Canada',
 '236511695': 'London, England.',
 '969454495292801024': 'PLUTO 🔮',
 '807173520446865408': 'India',
 '1231505583452241921': None,
 '1149969857951043584': None,
 '2956387341': 'Middlesbrough, England',
 '15567688': 'UK',
 '628266735': 'Johore, Malaysia',
 '881541526295379969': None,
 '519435251': 'Away',
 '2545415011': 'USA',
 '2841009990': None,
 '1217084911041073152': 'Southampton, England',
 '1153929160961744899': None,
 '421159817': None,
 '1239620028447719424': 'Sindh, Pakistan',
 '1176962603232518144': 'Northern England',
 '1241822530383446016': None,
 '99528007': 'The Woods.',
 '308352813': 'Newcastle Upon Tyne, England',
 '800542940451860480': 'Bigly Covfefe, MAGA USA',
 '1091697389612625922': 'Kuala Lumpur City',
 '223932931': None,
 '1125362492': None,
 '863958757696339970': '💛',
 '3106152982': None,
 '147475725': 'Alabama, USA',
 '2840467285': 'Joinville, Brasil Pakistan',
 '269581619': 'Adelaide, South Australia',
 '1217464956968456192': 'Rawalpindi, Pakistan',
 '23664270': 'NYC',
 '1003277438162558976': None,
 '22615053': 'Tallahassee, FL',
 '197203570': 'Inside Life👣',
 '2894359791': 'Wien, Österreich',
 '2848619851': 'Queensland, Australia.',
 '179025448': 'Johannesburg, South Africa',
 '778973077946400768': None,
 '1200867663179866113': 'szukaj a znajdziesz',
 '2274448987': None,
 '1220956574962733056': None,
 '34231614': 'Moorestown, NJ',
 '426333788': 'London, SE24',
 '816418410019975168': None,
 '823142407290003456': 'Tahmoor, New South Wales',
 '1013170563051933696': 'Port Harcourt, Nigeria',
 '865240763705286659': 'Chennai, India',
 '1211733605287776256': None,
 '858303068965933056': None,
 '841290059689078784': None,
 '759456208696840192': 'probably in front of a screen',
 '2263270123': 'London, England',
 '1237731079798259712': 'Украина',
 '90874519': 'Cape Town, South Africa',
 '565222603': 'Fontana, CA',
 '186213747': 'Canada',
 '331311644': None,
 '719226983': 'United States',
 '1303948003': 'Leamington Spa, England',
 '1120227405417680896': '오디세이호/Odyssey ship',
 '1154998800': 'The Gorge, WA',
 '135560837': 'Wolverhampton, uk',
 '1214162539094802434': None,
 '1097934944': 'Göttingen',
 '2242447598': 'Türkiye',
 '826683404741595137': 'swk, msia',
 '140803376': None,
 '737598345967869953': 'India',
 '988828906345172993': 'West Midlands, England',
 '3042825878': 'Nairobi, Kenya',
 '1080209683': 'Birmingham',
 '836678026536628225': 'India',
 '1235931628238589954': None,
 '91163520': 'Toronto, Canada',
 '596598972': 'nj',
 '1024457527348494337': None,
 '16664681': 'El Segundo, CA',
 '1033679475807019008': None,
 '1699636970': 'Dublin City, Ireland',
 '713631714023772160': 'Karachi, Pakistan',
 '1242491168924954624': None,
 '225414363': 'chelmsford',
 '1235551772518666240': None,
 '3303456337': None,
 '56809821': 'Central Illinois',
 '2918328482': 'PaKisTaN',
 '52683591': 'Oslo, Norway',
 '1343509357': None,
 '994905753990369280': 'Mumbai, हिन्दुस्तान ',
 '4235768555': 'Pinetown Durban ',
 '1226587791993311232': 'Ohio, USA',
 '106578684': 'Dublin City, Ireland',
 '601804536': 'x',
 '180066418': None,
 '703801126835978240': 'Somalia',
 '748786742388404225': 'Manchester, England',
 '849306263896903680': 'Nottingham, England',
 '1100921432144527360': None,
 '568847429': None,
 '245776950': 'London, UK',
 '1017588023477727232': 'Richmond, CA',
 '51482271': 'Nigeria',
 '37997835': 'Seattle, WA',
 '1241352196010250241': None,
 '1697434650': None,
 '4739242187': None,
 '1240648352930377734': None,
 '1094389760452227072': None,
 '3912235035': 'Insert Location Here',
 '361986623': 'the internet',
 '113860861': 'विश्व',
 '2745377547': '27 Pearse Street , Kinsale , .County Cork ,P17 HT29 Ireland',
 '852698226': 'Dublin',
 '1228909256': 'Muskogee, Oklahoma',
 '1036254229474828289': None,
 '165328831': 'Bombay, India',
 '994354582846394371': None,
 '14230081': 'Capital del Sol',
 '856555011568013314': None,
 '284107865': 'Orlando, FL',
 '759579098': None,
 '19530060': 'moreton in marsh',
 '1154755758241615872': 'Jhumri Talaiyya',
 '1002948662056501248': '🔞',
 '633945833': 'chennai, Tamilnadu',
 '741579120484716544': 'Heaven',
 '18774517': 'Somewhere up North ',
 '65883055': 'Kentucky, USA',
 '1078972639883026433': None,
 '1487924924': None,
 '262860534': 'Winsford, Cheshire',
 '1086870288388612097': 'Somewhere in the GWN',
 '251851414': 'Leinster Ireland',
 '3311624910': 'Wild World',
 '66383858': 'London, England',
 '2608874537': 'Ohio',
 '82879012': 'india',
 '1080830675899613185': 'Jos, Nigeria',
 '274962346': 'Buxton, in the Shire',
 '184284900': 'Lagos, Nigeria',
 '3688307962': 'London, England ',
 '233103725': None,
 '3156893793': None,
 '442693691': 'Dublin City, Ireland',
 '4461783856': None,
 '710132477': 'Sandton, South Africa',
 '1106919002306011136': None,
 '822600772118515714': 'Texas',
 '800372162': 'Adisham, England',
 '978989155987238912': 'Anantapur, India',
 '1001386842996932609': 'Hyderabad, India',
 '703609135': None,
 '1104258968627499009': 'Adigoppula',
 '711309416067424257': 'Peterborough, England',
 '1167498274858835968': None,
 '51002583': 'Brisbane, Queensland',
 '207251377': 'Rock, Cornwall',
 '1218173971994116097': 'Paris, France',
 '19020689': None,
 '3349575581': 'Global',
 '22164556': 'Charlottesville, VA',
 '4835703412': 'Johannesburg, South Africa',
 '893744325028454402': 'Sundsvall, Sweden',
 '338280259': 'Mumbai, India',
 '1064990046560952326': 'London, UK',
 '3689058808': 'Online',
 '1899943471': 'Karachi #Malir ',
 '1209296564868583424': None,
 '1017738205960048641': 'England. ',
 '1090835430264762368': 'South Africa',
 '2821370339': 'Germany',
 '2184866269': None,
 '177214413': 'Bonn, Germany',
 '590194371': 'Ukraine',
 '846002139952365568': 'West Region, Singapore',
 '3242202423': None,
 '934294021': 'Boulder, CO - United States',
 '47298848': 'ÜT: 1.50225,103.742992',
 '522390675': 'Budapest, Hungary',
 '1197688915768967169': 'Japan',
 '1202166736880975872': '🇵🇭🇵🇷🇨🇳🇵🇹🇨🇮',
 '823096140': 'Sindh, Pakistan',
 '592984702': 'sunken place',
 '1217711735404224513': 'Multan, Pakistan',
 '2741771200': 'Newcastle Upon Tyne, England',
 '24479182': 'Somewhere in the USA',
 '1179340762330345472': 'canada',
 '231457638': 'The Streets',
 '1716089574': "momma's house ",
 '884868485389660162': 'Hamburg, Deutschland',
 '4776529666': 'Columbus Ohio ',
 '1730541582': 'Maryland, USA',
 '705203953659564032': 'California, USA',
 '2272394555': 'Great Lakes, USA',
 '1129197291007463425': None,
 '1101566558210535424': 'UK',
 '2731582284': None,
 '1226442290299691010': None,
 '3478862173': 'PUP CS',
 '85543137': 'Worcestershire,England',
 '1127271955453960198': None,
 '798689397113765889': None,
 '1182682891656093696': None,
 '736238984628731905': 'Ghana',
 '1566650000': 'Chicago, IL, USA',
 '124679805': 'PHOENIX',
 '827960916738240514': None,
 '892823099485306880': 'Mumbai Maharashtra',
 '1133477020317315072': 'The World',
 '128791132': 'CHIRALA ANDHRA PRADESH,INDIA',
 '1244681946': 'Britain ',
 '15300677': 'San Diego, CA',
 '1091571988215169024': None,
 '899763909606985728': 'Colonial Heights, VA',
 '1081980708778840064': None,
 '27007885': 'US | Italia | Sri Lanka',
 '2289710007': 'Doncaster',
 '578108356': 'Johannesburg, South Africa',
 '23185764': 'West of England',
 '538045202': 'main vocalist pcy | dancer bbh',
 '189488427': 'India, Mumbai ',
 '1195748955398606848': None,
 '1162894266613534722': 'Awka, Nigeria',
 '868395362209476608': None,
 '1138266865958940673': 'California, USA',
 '140344690': 'Mumbai, India',
 '223594399': None,
 '874156064060715008': None,
 '925829448485822464': None,
 '561986095': 'The place where Eagles fly',
 '891126880652451841': 'London, England',
 '950812326571266048': None,
 '25094833': 'England',
 '4970411': 'Doha, Qatar',
 '1180440927061471232': 'winner city',
 '52408453': 'Hanksville UT Earth',
 '99122141': 'Lagos, Nigeria',
 '1075688406741467136': 'Bali, Indonesia',
 '4813634654': None,
 '3112279568': 'Caribbean',
 '539685113': 'Minnesota, USA',
 '1190975095419867138': None,
 '1029884335090851840': 'Bobbili, India',
 '2514657307': None,
 '265049209': 'Europe Shitland, Balkan',
 '1269802837': 'infp',
 '473095250': 'Katni mp india ',
 '1085043558221078528': 'India',
 '336395579': 'Mangalore',
 '1147044456639713280': 'ww🌙💛🌏',
 '4452612260': 'Georgetown , Texas 78628',
 '188313821': 'KUL LA',
 '749100281745448960': 'skyland',
 '2664067200': None,
 '42887308': 'South East, England',
 '780792121431199745': 'Schiphol-Rijk, Haarlemmermeer',
 '1174758153717608449': None,
 '2614852377': None,
 '3198621916': 'Doha/Paris ',
 '19112577': 'Canberra',
 '307156066': 'ot4',
 '1672968937': 'Pune, India',
 '1071909541816623104': None,
 '2963669639': 'Durban, South Africa',
 '26953013': 'buffalo, ny',
 '437895198': 'Northern California #NewCalifornia',
 '386090305': 'United Kingdom',
 '164809116': 'united kingdom',
 '322013402': 'Nigeria',
 '242639899': 'Malaysia',
 '1215110172479311872': None,
 '1190969022558306304': '•｡ﾟ+.(･∀･)ﾟ+.ﾟ•',
 '1186154737197973504': None,
 '2443941850': 'Abuja',
 '361261190': 'Islamabad',
 '387226382': 'Brighton, England',
 '309025331': 'The Hague, The Netherlands',
 '978253374566096896': None,
 '4824469439': None,
 '1186901984835592194': None,
 '1354480286': 'North East England',
 '919522475746017281': 'I N D I A',
 '150319499': 'Athens, 5th century BCE',
 '236555874': None,
 '962758083813433344': None,
 '1051076552459337728': None,
 '1108796352148971524': 'Kumasi-Ghana.',
 '928054329222860800': None,
 '1012616444813758464': 'Namur, Belgium',
 '715381626771865600': 'Hyderabad, India',
 '1115791602302107648': 'Chomu Jaipur',
 '2397367452': 'Sepang, Selangor',
 '1211522917525155842': 'Delta, Nigeria',
 '957625393170624513': None,
 '904670262402080768': None,
 '431610794': None,
 '592829245': 'Qatar',
 '788361612931502080': 'NY',
 '1181330747740827653': None,
 '1041683016': '♒︎ ☼ ♎︎ ☽ ♉︎ ⇡',
 '1437982033': 'Sotik,Rift Valley.',
 '1242743912789430273': None,
 '83208015': 'newcastle upon tyne uk',
 '38490417': 'California, USA',
 '463833842': 'In the Pub',
 '2410875648': 'Johannesburg ',
 '2843896642': 'France',
 '1107788843888111622': None,
 '711760467383877632': 'India',
 '1947722316': 'Marion, IN - Muncie, IN',
 '750656769098149888': 'Helsínquia, Finlândia',
 '312691400': None,
 '150844336': 'Melbourne, Victoria',
 '1164929131093512192': None,
 '1128120523970375680': None,
 '2236021381': 'anywhere. everywhere.',
 '1048581109573984256': 'Reno, NV',
 '197575391': 'Lagos, Nigeria',
 '1188228780420038656': 'ZGP💚💜',
 '4635975621': 'Indianapolis, IN',
 '3070448344': None,
 '748968361929764865': 'Santa Clara, CA',
 '975395003231973376': None,
 '1210138649741758468': 'nine or none',
 '35684523': 'NYC',
 '991675528741449728': None,
 '471369623': 'Virgo supercluster ',
 '938814938268626944': 'Malaysia',
 '380818154': 'West Virginia, USA',
 '26965471': 'Mumbai, India',
 '1693965810': 'Toronto, Canada',
 '68642526': 'Above you',
 '21044127': 'Kentucky',
 '1665911432': 'Neverland ',
 '1166711817785077760': 'poultry',
 '50837639': 'Sheffield',
 '527638240': 'Hyderabad, India',
 '973622858193801216': 'nn',
 '94553112': 'Perth, Australia',
 '50628359': None,
 '991017727': 'Essex',
 '3184037978': None,
 '344934042': None,
 '238066123': None,
 '730806905678008321': None,
 '750443893137739778': None,
 '1642106718': 'New Zealand',
 '763073748933246976': 'Newcastle Upon Tyne, England',

In [28]:
with open('nodelist_ksw_full_372_30min_25-03-2020.json', 'w') as file:
    json.dump(nodes, file, allow_nan=False)
    
with open('edgelist_ksw_full_372_30min_25-03-2020.json', 'w') as file:
    json.dump(edgelist, file, allow_nan=False)